h1{
    font-family: $playfair;
    font-size: $xx-large;
    font-weight: $black-italic;
    font-style: italic;
}
.autor__descripcion--fecha{
    font-family: $playfair;
    font-size: $large;
}
.autor__description--parrafo{
    font-family: $roboto;
}
.naomi__contacto--parrafo1{
    font-family: $playfair;
    font-size: $x-large;
    font-weight: $black-italic;
    font-style: italic;
}
.naomi__contacto--parrafo{
    font-family: $roboto;
    font-size: $large;
    font-weight: $p-light;
    color: $spanish-pink;
}
.naomi__descripcion{
    font-family: $roboto;
}